<h1 style="font-size:96px;"><center>Teams<span style="font-size:12px;color:#777777;">yowza.</span></center></h1><br/><br/>
<% @teams.each do |team| %>
  <fieldset id="navcontainer" class="grid_7 row ">
    <legend><span style="font-size:16px;"><%= team.name %></span>  <span style="color:#777777;font-size:10px;">(<%= team.player_name %>)</span></legend>
    <ul>
    <%  s = (16 - team.players.length ) %>
    <% team.players.each do |player| %>
      <li style="font-size:14px;padding-top:20px;">--<%= (player.first_name + " " + player.last_name + " " + player.position) %><%= ",  " unless (team.players.length == 0)%></li> 
    <%end%> 
    <li style="color:#627aad;font-size:14;text-align:right;">(<%= 16 - team.players.length%> players left)</li>

  </ul>  
</fieldset>
<% end %>

<br />
<% if params[:lock] %>
<%= link_to 'New Team', new_team_path %>
<% end %>
