<h1 style="font-size:72px;"><center>Teams<span style="font-size:12px;color:#777777;">yowza.</span></center></h1><br/><br/>
<% increment = 0 %>

<% @teams.each do |team| %>

<table>
  <th style="text-decoration:none;"><span style="text-decoration:underline;"><%=team.name %></span>&nbsp;<span style="font-size:12px;color:#777777;text-decoration:none;">(<%= team.player_name %>)</span>
  </span>
  <% team.drafts.each do |draft| %>

  <tr><td style="font-size:14px;color:#777777;padding-top:0px;"><%= draft.round%>. <%= draft.player.name + " " + draft.player.position if draft.player.present? %></td></tr>

  <%end%>

  <tr><td style="color:#627aad;font-size:12px;text-align:right;padding-top:0px;text-decoration:none;">(<%= team.drafts.pending.count %> players left)</td></tr>
  <hr/>
</table>
<%end%>

<% content_for :refresh_tag do %>
  <meta http-equiv="refresh" content="10"/>
<% end %>