<h1 style="font-size:72px;"><center>Player Search<span style="font-size:12px;color:#777777;">woot!</span></center></h1>
<center><h1>Round <%= current_round %> - Pick <%= current_pick.overall_pick.to_s %>(<%= current_team.player_name %>)</h1></center>
<center><form method="get"><input type="text" value="" name="q" id="q" /></form></center>
<div style="width:50%;">
<table>
<th><%= render("position_restriction") %></th>
<% @players.each_with_index do |player, index| %>
  <tr class="livesearch <%= cycle("even", "odd")%>">
    <td id="search">
      <span class="position">(<%= index + 1 -%>)&nbsp;</span>
      <%= link_to "#{player.name} #{player.nfl_team}(#{player.bye_week}) #{player.position}", player.url, {:id => 'search', :target => "blank"} -%>
      <%= link_to "edit", edit_player_path(player) if session[:admin] %>
    </td>
  </tr>
<% end %>
</table>
</div>
<% content_for :refresh_tag do %>
<meta http-equiv="refresh" content="10"/>

<% end %>
<% javascript_tag do %>

Event.observe(window, 'load', function() {
  new QuicksilverLiveSearch('q', '.livesearch');
});

<% end %>
