<h1 style="font-size:60px;"><center>Teh Best&nbsp;&darr;</center></h1>
<%= render :partial => 'upcoming_picks' %>
<div id="main">
 <fieldset class="grid_4 column">
    <legend> QuarterBacks </legend>
    <%= render :partial => "position", :locals => {:position => @quarter_b} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Running Backs </legend>
    <%= render :partial => "position", :locals => {:position => @running_b} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Place Kickers </legend>
    <%= render :partial => "position", :locals => {:position => @place_k} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Wide Receivers </legend>
    <%= render :partial => "position", :locals => {:position => @wide_r} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Defense </legend>
    <%= render :partial => "position", :locals => {:position => @defense} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Tight Ends </legend>
      <%= render :partial => "position", :locals => {:position => @tight_e} %>
    </fieldset>
  </div>

<script type="text/javascript" charset="utf-8">
  //setTimeout('window.location = "/"', 3000)
</script>

<% content_for :refresh_tag do %>
  <meta http-equiv="refresh" content="3"/>
<% end %>

