<h1 style="font-size:60px;"><center>Teh Best&nbsp;&darr;</center></h1>
<a name="below_header"></a>
<%= render :partial => 'upcoming_picks' %>
<div id="main">
 <fieldset class="grid_4 column">
    <legend> QuarterBacks </legend>
    <%= render :partial => "position", :locals => {:position => @players.for_position("QB")} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Running Backs </legend>
    <%= render :partial => "position", :locals => {:position => @players.for_position("RB")} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Line Backers </legend>
    <%= render :partial => "position", :locals => {:position => @players.for_position("LB")} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Wide Receivers </legend>
    <%= render :partial => "position", :locals => {:position => @players.for_position("WR")} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Defense </legend>
    <%= render :partial => "position", :locals => {:position => @players.for_position("DEF")} %>
  </fieldset>

  <fieldset class="grid_4 column">
    <legend> Tight Ends </legend>
      <%= render :partial => "position", :locals => {:position => @players.for_position("TE")} %>
    </fieldset>
  </div>

<script type="text/javascript" charset="utf-8">
  setTimeout('window.location = "/"', 7000)
  window.location.hash="below_header";
</script>

<% content_for :refresh_tag do %>
  <meta http-equiv="refresh" content="3"/>
<% end %>

