<center><h1>Round <%= current_round %></h1></center>
<table><tr>
	<th>Pick Overall</th>
	<th>Round</th>
	<th>Team</th>
	<th>Pick</th></tr>
<% (1..224).each do |pick| %>
	<% player = get_picked_player(pick) %>
	<% round = (pick / Team.count) + (pick % Team.count == 0 ? 0 : 1) %>
	<tr>
		<td style="font-size:14px;color:#777777;padding-top:0px;"><%= pick %></td> 
		<td style="font-size:14px;color:#777777;padding-top:0px;"><%= round %></td>
		<td style="font-size:14px;color:#777777;padding-top:0px;"><%= Team.with_pick(pick).player_name %></td> 
		<% if player %>
			<td style="font-size:14px;color:#777777;padding-top:0px;"><%= ((session[:admin]) ? (link_to player.try(:name).to_s, edit_player_path(player), {:style => "font-size:14px;"}) :  player.try(:name).to_s) %></td>
		<% else %>
			<td style="font-size:14px;color:#777777;padding-top:0px;">&nbsp;</td>
		<% end %>
	</tr>
<% end %>
</table>

<% content_for :refresh_tag do %>
<meta http-equiv="refresh" content="10"/>
<% end %>
