      Livesearch: <form method="get"><input type="text" value="" name="q" id="q" /></form>
<%= form_for(@draft) do |f| %>
  <% if @draft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draft.errors.count, "error") %> prohibited this draft from being saved:</h2>

      <ul>
      <% @draft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Owner:  <%= @draft.team.player_name %><br />
  Round:  <%= @draft.round %><br />
  Pick:   <%= @draft.overall_pick %><br />

  <div class="field">
    <br />
    <h4>Player:</h4>
    <table>
    <% Player.by_ranking.each_with_index do |player, index| %>
      <tr class="livesearch">
        <td id="search">
          <span class="position">(<%= index + 1 -%>)&nbsp;</span>
          <label><%= check_box_tag 'draft[player_id]', player.id, (@draft.player_id == player.id) %><%= "#{player.name} #{player.nfl_team}(#{player.bye_week}) #{player.position}" -%>
        </td>
      </tr>
    <% end %>
    </table>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% javascript_tag do %>

Event.observe(window, 'load', function() {
  new QuicksilverLiveSearch('q', '.livesearch');
});

<% end %>